{% extends 'base.html' %}

{% block title %}WVNT | {{ user_name }}{% endblock %}
{% block content %}
  <div id="main_cont">

  {% if products %}
    {% for product in products %}
      <div class="box product">
        <img src="img/placeholder.png" data-src="{{ product.image }}" />
        <div class="product-meta">
          <div class="product-price">$ {{ product.price }}</div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="user-message">
      You don't have any product in your wvnt list.
    </div>
  {% endif %}
  </div><!-- end #main_cont -->

  <div class="total">
    <span>oh my! You have to spend</span>
    <p>$ {{ total_price | number_format(2, '.', ',') }}</p>
  </div><!-- end .total -->
{% endblock %}